.signin-container {
    width: 100%;
    max-width: 400px; /* 调整最大宽度以适应新布局 */
    margin: auto;
    padding: 20px;
  }
  
  .title h2 {
    text-align: center;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin-bottom: 15px; /* 添加底部间距以分隔输入字段 */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative; 
  }
  
  .input-container i {
    position: absolute; 
    left: 10px; 
    color: #555;
  }
  
  .input-container input {
    width: 100%; 
    padding: 10px 10px 10px 30px; 
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signin-btn {
    background-color: rgb(159, 126, 172);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%; 
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .signin-btn:hover {
    background-color: #6658a4;
  }
  
  .alternative-signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .alternative-signup span,
  .alternative-signup p {
    display: block;
    margin-bottom: 10px;
  }
  
  .signup-btn {
    background-color: rgb(159, 126, 172);
    color: white;
    padding: 10px 20px;
    font-size: 0.9em;
    margin-bottom: 10px;
    width: 100%; 
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
  }
  
  .signup-btn:hover {
    background-color: #6658a4;
  }
  
  footer {
    width: 80%;
  }
  .admin-login {
    text-align: center; 
    color: #6658a4; 
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  