/* CustomSidebar.css */


.ant-menu-item a {
  color: #fff; /* 链接字体颜色 */
}

.ant-menu-item-selected {
  background-color: rgb(159, 126, 172) !important; /* 选中项背景颜色 */
}

.ant-menu-item-selected a {
  color: #fff !important; /* 选中项字体颜色 */
}

/* 你也可以针对子菜单或其他特定项目进行样式定制 */
