.signup-container {
    width: 100%;
    max-width: 600px; 
    margin: auto;
    padding: 20px;
}

.title h2, .title p {
    text-align: center; 
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.field-group {
    display: flex; 
    justify-content: space-between; 
}

.field {
    flex: 1; 
    margin-right: 10px; 
}

.field:last-child {
    margin-right: 0; 
}

.input-container {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}

.input-container i {
    margin-right: 10px; 
    color: #555; 
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;


}

.signup-btn {
    background-color: #7e57c2; 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    width: 100%; 
    margin-bottom: 20px; 
    transition: background-color 0.3s ease; 
}

.signup-btn:hover {
    background-color: #7e57c2; 
}

.alternative-signup {
    text-align: center; 
    margin-top: 20px; 
}

.alternative-signup span, .alternative-signup p {
    display: block; 
    margin-bottom: 10px; 
}
.signin-btn {
    background-color: #7e57c2;
    color: white;  
    padding: 8px 18px; 
    font-size: 0.9em; 
    margin-bottom: 10px; 
    width: 80%; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
    margin-left: auto; 
    margin-right: auto; 
}


.signin-btn:hover {
    background-color: #7e57c2; 
}
